@{
    ViewBag.Title = "E-Mail bestätigen";
}

<div class="container">
    <h2 class="header blue-text">@ViewBag.Title.</h2>
    <div class="row">
        <div class="col s12 light">              
            Thank's a lot for your mail validation! <br/>
            @Html.ActionLink("Click this link to login", "Login", "Account"})
        </div>
    </div>
</div>
