@{
    ViewBag.Title = "Kennwortbestätigung zurücksetzen";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ihr Kennwort wurde zurückgesetzt. Sie werden weitergeleitet.
    </p>
</div>

@section Scripts{
    
    $(document).ready(function(){
        setTimeout(function(){
            window.location.href = "@Url.Action("Index", "Home")";
        }, 3000);
    });
}