    @{
        ViewBag.Title = "AddMirror";
    }

<div class="container">
    <h2 class="header text_b">Add a new Mirror</h2>
    
    <div class="row">
        <div class="col s12 light">
            Here you can add a new mirror to your account by typing in the display name of you mirror.<br/>
            It should be visible below the clock of your mirror.
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input placeholder="ColdSnow#0042" id="mirror-name" type="text" class="validate">
            <label for="mirror-name">Mirror Name</label>
        </div>               
    </div>
    
    <div class="row" style="min-height: 30vh">
        <button class="btn waves-effect waves-light blue darken-2" id="btnHandshake" name="action">Add Mirror</button>
    </div>
</div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#btnHandshake").on("click", function () {
                    var mirrorname = $("#mirror-name").val();
                    if (mirrorname == '') {
                        alert("Write the display name of your mirror in the input field!");
                    } else {
                        mirrorname = mirrorname.replace('#', '%23');
                        console.log(mirrorname);
                        $.ajax({
                            //url: 'http://snowwhite-configurationpage.azurewebsites.net/Configuration/Handshake?displayName=' + mirrorname
                            url: '@Url.Action("Handshake", "Configuration")?displayName=' + mirrorname
                        }).done(function (res) {
                            if (!res) {
                                alert("The given secretname " + mirrorname + " is invalid");
                            } else {
                                alert("Successfull! Now wait till the handshake is done!");

                                @Url.Action("Index", "Configuration");
                            }
                        }).fail(function (err, msg) {
                            alert(msg);
                        });
                    }
                });
            });
        </script>    
    }