@using UIConfiguration.Models
@*@model List<UserMirrorViewModel>*@

<h2>Select a mirror</h2>

<div class="row">
    @*@foreach (Mirror mirror in Model)
        {
            <div class="s2">
                <a href="@Url.Action("ConfigurateMirror", "Configuration", new { id = Model.Mirror.Id})><img src=""/></a>
            </div>
        }
    *@
    <div class="col-md-2" id="new-mirror" style="border: 2px dashed blue;">
        @*<a href="@Url.Action("AddMirror","Configuration", new { id = Model.Mirror.Id })"></a>*@
    </div>
</div>