@using UIConfiguration.Models
@model SnowwhiteUser
@{
    ViewBag.Title = "Mirror-Configuration";
}

<h2>Hello @Model.FirstName @Model.LastName !</h2>
@if (Model.SpeechID == null || Model.SpeechID.Equals(""))
{
    <p>You have to record your voice!</p>
    <p></p>
    <ol style="list-style-type: decimal">
        <li>Check wheather your mirror is on</li>
        <li>Press <button class="btn btn-primary btn-circle" id="startRecording"><i class="fa fa-microphone"></i></button> to start recording</li>
        <li>Go to the mirror</li>
        <li>There you will see a new window where you can record your voice.</li>
    </ol>
}
@section Scripts
{   
<script>
    $("#startRecording").on("click", function(){
        $.ajax({
            url = '@Url.Action("SetDesireRecord", "Account")'
        }).done(function (result) {
            alert("Go to your mirror and record your voice!");
        }).fail(function(result){
            alert("error");
        });
        toggelButton();
    });

    function toggleButton(){
        var btn = $("#startRecording");
        if (btn.hasClass("btn-primary"))
        {
            btn.removeClass("btn-primary");
            btn.addClass("btn-danger");
        }
        else
        {
            btn.removeClass("btn-danger");
            btn.addClass("btn-primary");
        }
    }
</script>
}
