@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="section container row">
    <h2 class="header blue-text">An Error occoured</h2>
    
    <div class="row">
        <div class="col s12 light">        

            Mirror, mirror, on the wall,<br/>
            Who in this land is smartest of all?<br />
            <br />
            It answered:<br />
            <br />
            You, my queen, are smart; it is true.<br />
            But Snow White mirror, beyond the mountains<br />
            With the seven dwarves,<br />
            Is still a thousand times smarter than you.

        </div>
    </div>
</div>