@{
    ViewBag.Title = "About us";
}
<h1>@ViewBag.Title</h1>
<h2>Who are we?</h2>
<p><strong>We are four young Applied Computer Science students from the Duale Hochschule Baden-Württemberg in Karlsruhe who develop this smart mirror as a project for the softwareengineering lecture.</strong></p>

<h2>The Team</h2>
<div class="row" style="text-align: center;">
    <div class="col-md-3">
        <img src="~/Content/Images/Team/cem.png" alt="cem.png"/>
        <h3>Cem Freimoser</h3>
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/Team/domi.png" alt="domi.png" />
        <h3>Dominic Jülg</h3>
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/Team/marc.png" alt="marc.png" />
        <h3>Marc Weickenmeier</h3>
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/Team/mario.png" alt="mario.png" />
        <h3>Mario Kunstek</h3>
    </div>
</div>
