@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Course: TINF15B2<br />
    Duale Hochschule Baden-Württemberg<br />
    Erzbergerstr. 121<br />
    76133 Karlsruhe<br />
    <abbr title="Phone">P:</abbr>
    0721 97355
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>