@{
    ViewBag.Title = "Home Page";
}

<h1>UI Configurationpage</h1>
<h2>Configure your personalized mirror interface!</h2>


<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/snowwhite-logo_64x64.png" alt="snowwhite-logo-original" class="img-circle"/>
    </div>
    <div class="col-md-9">
        <h3><i>Mirror mirror on the wall, who is the smartest of them all?</i></h3>
        <strong>Configure your personilzed interface for your smart mirror from snowwhite!</strong>
        <p>We offer the possibility to show different news, weather forecasts, social media and many more on our smart mirror which displays your configured interface just with your voice!</p>
    </div>
</div>